## Pandas

In [1]:
import pandas as pd
import numpy as np

## creating a dataframe using a dictionary

In [2]:
## create a dataframe using a dictionary
cars_per_cap = [100,234,354,421,235]
country = ['india', 'usa', 'canada', 'russia', 'china']
drives_right = [True, False, False, False, True]

In [3]:
dic = {"cars_per_cap" : cars_per_cap,
       "country" : country,
       "drives_right" : drives_right}
dic

{'cars_per_cap': [100, 234, 354, 421, 235],
 'country': ['india', 'usa', 'canada', 'russia', 'china'],
 'drives_right': [True, False, False, False, True]}

In [4]:
df = pd.DataFrame(dic)
df

   cars_per_cap country  drives_right
0           100   india          True
1           234     usa         False
2           354  canada         False
3           421  russia         False
4           235   china          True

## creating a dataframe using a csv file with no column/header names

In [5]:
df1 = pd.read_csv('C:/Users/saksh/OneDrive/Documents/Python Libraries/Pandas/book1.csv', header = None)
df1

       0    1              2      3       4
0   USCA   US  United States  809.0  False
1  ASPAC  AUS     Austrailia  731.0   True
2  ASPAC  JAP          Japan  588.0   True
3  ASPAC   IN          India   18.0   True
4  ASPAC   RU         Russia  200.0  False
5  LATAM  MOR        Morocco   70.0  False
6    AFR   EG          Egypt   45.0  False
7    EUR  ENG        England    NaN   True

# renaming the column names/headers using columns function

In [6]:
df1.columns = ['country code','region', 'country', 'cars_per_cap', 'drives_right']
print(df1)
print(type(df1))

  country code region        country  cars_per_cap drives_right
0         USCA     US  United States         809.0       False
1        ASPAC    AUS     Austrailia         731.0        True
2        ASPAC    JAP          Japan         588.0        True
3        ASPAC     IN          India          18.0        True
4        ASPAC     RU         Russia         200.0       False
5        LATAM    MOR        Morocco          70.0       False
6          AFR     EG          Egypt          45.0       False
7          EUR    ENG        England           NaN        True
<class 'pandas.core.frame.DataFrame'>

## checking how many indices/rows are there

In [7]:
df1.index

RangeIndex(start=0, stop=8, step=1)

## setting a single column or multiple columns as the index column
index_col = column number which you want to set as index column

In [12]:
df1 = pd.read_csv('C:/Users/saksh/OneDrive/Documents/Python Libraries/Pandas/book2.csv', header = None, index_col = 3)
df1

           0    1              2       4
3
809.0   USCA   US  United States  False
731.0  ASPAC  AUS     Austrailia   True
588.0  ASPAC  JAP          Japan   True
18.0   ASPAC   IN          India   True
200.0  ASPAC   RU         Russia  False
70.0   LATAM  MOR        Morocco  False
45.0     AFR   EG          Egypt  False
NaN      EUR  ENG        England   True

In [20]:
df2 = pd.read_csv('C:/Users/saksh/OneDrive/Documents/Python Libraries/Pandas/book2.csv', header = None, index_col = [0,1])
df2

                       2      3       4
0     1
USCA  US   United States  809.0  False
ASPAC AUS     Austrailia  731.0   True
      JAP          Japan  588.0   True
      IN           India   18.0   True
      RU          Russia  200.0  False
LATAM MOR        Morocco   70.0  False
AFR   EG           Egypt   45.0  False
EUR   ENG        England    NaN   True

In [14]:
df1.columns = ['country code', 'region','country', 'drives_right']
df1

      country code region        country drives_right
3
809.0         USCA     US  United States       False
731.0        ASPAC    AUS     Austrailia        True
588.0        ASPAC    JAP          Japan        True
18.0         ASPAC     IN          India        True
200.0        ASPAC     RU         Russia       False
70.0         LATAM    MOR        Morocco       False
45.0           AFR     EG          Egypt       False
NaN            EUR    ENG        England        True

In [15]:
df1.index

Index([809.0, 731.0, 588.0, 18.0, 200.0, 70.0, 45.0, nan], dtype='float64', name=3)

## rename/delete the name of the index column

In [19]:
df1.index.name = 'cars_per_cap' # rename
print(df1)

df1.index.name = None # delete
print(df1)

             country code region        country drives_right
cars_per_cap
809.0                USCA     US  United States       False
731.0               ASPAC    AUS     Austrailia        True
588.0               ASPAC    JAP          Japan        True
18.0                ASPAC     IN          India        True
200.0               ASPAC     RU         Russia       False
70.0                LATAM    MOR        Morocco       False
45.0                  AFR     EG          Egypt       False
NaN                   EUR    ENG        England        True
      country code region        country drives_right
809.0         USCA     US  United States       False
731.0        ASPAC    AUS     Austrailia        True
588.0        ASPAC    JAP          Japan        True
18.0         ASPAC     IN          India        True
200.0        ASPAC     RU         Russia       False
70.0         LATAM    MOR        Morocco       False
45.0           AFR     EG          Egypt       False
NaN            EUR    ENG        England        True

## display first 3 rows and last 3 rows of the dataset

In [23]:
print(df1.head(3))
print(df1.tail(3))

      country code region        country drives_right
809.0         USCA     US  United States       False
731.0        ASPAC    AUS     Austrailia        True
588.0        ASPAC    JAP          Japan        True
     country code region  country drives_right
70.0        LATAM    MOR  Morocco       False
45.0          AFR     EG    Egypt       False
NaN           EUR    ENG  England        True

## display the information about the data stored in the dataframe

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 809.0 to nan
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country code  8 non-null      object
 1   region        8 non-null      object
 2   country       8 non-null      object
 3   drives_right  8 non-null      object
dtypes: object(4)
memory usage: 320.0+ bytes

## display the statistical information of the dataset

In [25]:
print(df1.describe()) # for the whole dataset

       country code region        country drives_right
count             8      8              8            8
unique            5      8              8            2
top           ASPAC     US  United States       False
freq              4      1              1            4

In [29]:
df1['region'] # for indivisual column

809.0     US
731.0    AUS
588.0    JAP
18.0      IN
200.0     RU
70.0     MOR
45.0      EG
NaN      ENG
Name: region, dtype: object

## Note : iloc uses index number/name and loc uses row name or column name

## access specific data from their row index - iloc

In [31]:
df1.iloc[6]

country code       AFR
region              EG
country          Egypt
drives_right    False
Name: 45.0, dtype: object

## access specific data based on their index name/number - loc

In [40]:
df1.loc[200]

country code     ASPAC
region              RU
country         Russia
drives_right    False
Name: 200.0, dtype: object

## display multiple selective columns together - direct way or iloc way or loc way

In [41]:
print(df1[['country code','country']])
# or
print(df1.iloc[: ,[0,3]]) # displays all rows of 0th and 3rd column of the dataset
# or
print(df1.loc[: , ['country','country code']]) # displays all rows of the country and country code columns

      country code        country
809.0         USCA  United States
731.0        ASPAC     Austrailia
588.0        ASPAC          Japan
18.0         ASPAC          India
200.0        ASPAC         Russia
70.0         LATAM        Morocco
45.0           AFR          Egypt
NaN            EUR        England
      country code drives_right
809.0         USCA       False
731.0        ASPAC        True
588.0        ASPAC        True
18.0         ASPAC        True
200.0        ASPAC       False
70.0         LATAM       False
45.0           AFR       False
NaN            EUR        True
             country country code
809.0  United States         USCA
731.0     Austrailia        ASPAC
588.0          Japan        ASPAC
18.0           India        ASPAC
200.0         Russia        ASPAC
70.0         Morocco        LATAM
45.0           Egypt          AFR
NaN          England          EUR