In [4]:
import pandas as pd

# PANDAS package provides fast, flexible, and expressive data structures.
# Designed to work with "relational" or "labeled" data
# Has functions for analyzing, cleaning, exploring and manipulating data

#APPLICATIONS:
# Easy handling of missing data
# Size mutability: columns can be inserted and deleted from Dataframe
# Automatic and explicit data alignment
# Intelligent label-based slicing, fancy indexing 
# Intutive merging and joining data sets
# Flexible reshaping and pivoting data sets

#PANDAS STRUCTURES: 
# PANDAS data structures act like containers for lower dimensional data
# DataFrames is a container for Series
# Series is a container for scalars
# We would like to insert and remove objects from these containers in a dictionary-like fashion

#PANDAS Series:
# PANDAS Series is a 1-D labeled array capable of holding data of any type
# PANDAS Series is nothing but a column in an excel sheet

#PANDAS DataFrames:
# PANDAS DataFrame is  2-D size-mutable data structure with labeled axes (rows and columns)
# DataFrame consists of 3 principal components - the data,rows and columns

In [5]:
#CREATION OF DATAFRAMES IN PANDAS

data={"Name":["peru","john","pavan"], 
      "Age":[23,45,67],
     "Salary":[4500,5678,4354]} #data in dictionary form

df=pd.DataFrame(data) #pd.DataFrame() used to convert data to DataFrame
print(df)

    Name  Age  Salary
0   peru   23    4500
1   john   45    5678
2  pavan   67    4354

In [6]:
data=pd.read_csv(" ") # used to read csv file
data=pd.read_excel(" ") #used to read excel file

FileNotFoundError: [Errno 2] No such file or directory: ' '

In [7]:
#EXPLORING DATA IN PANDAS
data = pd.read_excel("expense3.xlsx")
print(data)
print(data.head(10)) # .head() allows us to print specific first number of rows 
                     # ex - we want to print the first 10 rows 
    
print(data.tail(10)) # .tail() allows us to print the last specific number of rows of data
                     # ex - we want to print the last 10 rows
# if we dont pass a specific number in .head() and .tail() we will by default get 5 rows

         Date    Category       Sub-Category   Amount Payment Mode
0  2023-01-01     Grocery             Grocery      30         Cash
1  2023-01-02        Food          Restaurant     890          UPI
2  2023-01-04         123              Zomato     257          NaN
3  2023-01-06  Essentials               Diary     120          UPI
4  2023-01-06  Essentials             Perfume    1500         Cash
5  2023-01-09     Grocery  Fruits and Veggies     456         Cash
6  2023-01-10       Bills          House Rent   16000          UPI
7  2023-01-10     Grocery      Tomato KetchUp      70          UPI
8  2023-01-12        Food                Chai      15          UPI
9  2023-01-15  Essentials      Salt and Sugar      50          NaN
10 2023-01-17     Grocery           Chocolate     100          UPI
11 2023-01-17        Food          Restaurant     780         Card
12 2023-01-18  Essentials            Food Oil     120          NaN
13 2023-01-18        Food              Zomato     230          UPI
14 2023-01-19     Grocery                Milk      26          UPI
15 2023-01-20  Essentials             Shampoo     780          UPI
16 2023-01-20  Essentials           Lunch Box     890         Cash
17 2023-01-21     Clothes               Dress    1000          NaN
18 2023-01-22     Clothes               Dress    1890          UPI
19 2023-01-23     Grocery      Bread and Milk      56         Cash
20 2023-01-24        Food  Fruits and Veggies     530         Cash
21 2023-01-26        Food                Chai      10          UPI
22 2023-01-26     Grocery               Maggi     140          UPI
23 2023-01-27        Food              Zomato     300          UPI
24 2023-01-27        Food                Chai      10          UPI
25 2023-01-28  Essentials           Bedsheets    1025         Cash
26 2023-01-29       Bills             Mobile     1650          UPI
27 2023-01-29     Grocery                Daal     150         Cash
28 2023-01-30       Bills            Cylinder    1074          UPI
        Date    Category       Sub-Category   Amount Payment Mode
0 2023-01-01     Grocery             Grocery      30         Cash
1 2023-01-02        Food          Restaurant     890          UPI
2 2023-01-04         123              Zomato     257          NaN
3 2023-01-06  Essentials               Diary     120          UPI
4 2023-01-06  Essentials             Perfume    1500         Cash
5 2023-01-09     Grocery  Fruits and Veggies     456         Cash
6 2023-01-10       Bills          House Rent   16000          UPI
7 2023-01-10     Grocery      Tomato KetchUp      70          UPI
8 2023-01-12        Food                Chai      15          UPI
9 2023-01-15  Essentials      Salt and Sugar      50          NaN
         Date    Category       Sub-Category   Amount Payment Mode
19 2023-01-23     Grocery      Bread and Milk      56         Cash
20 2023-01-24        Food  Fruits and Veggies     530         Cash
21 2023-01-26        Food                Chai      10          UPI
22 2023-01-26     Grocery               Maggi     140          UPI
23 2023-01-27        Food              Zomato     300          UPI
24 2023-01-27        Food                Chai      10          UPI
25 2023-01-28  Essentials           Bedsheets    1025         Cash
26 2023-01-29       Bills             Mobile     1650          UPI
27 2023-01-29     Grocery                Daal     150         Cash
28 2023-01-30       Bills            Cylinder    1074          UPI

In [8]:
print(data.info()) # to get info (no. of non-null values, data-type etc.) on each of the columns we use .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           29 non-null     datetime64[ns]
 1   Category       29 non-null     object
 2   Sub-Category   29 non-null     object
 3   Amount         29 non-null     int64
 4   Payment Mode   25 non-null     object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB
None

In [9]:
print(data.describe()) #for the numerical data columns .describe() will provide info like count, mean, min etc.
# std - standard deviation
# 25%, 50%, 75% - these are percentile values
# ex - in example in 25% amount=70, this means 25% have amount less than 70

                                Date        Amount
count                             29     29.000000
mean   2023-01-17 19:02:04.137931008   1039.620690
min              2023-01-01 00:00:00     10.000000
25%              2023-01-10 00:00:00     70.000000
50%              2023-01-19 00:00:00    257.000000
75%              2023-01-26 00:00:00    890.000000
max              2023-01-30 00:00:00  16000.000000
std                              NaN   2927.684353

In [10]:
print(data.isnull()) #if value is null - True will be displayed

     Date  Category  Sub-Category   Amount  Payment Mode
0   False     False          False   False         False
1   False     False          False   False         False
2   False     False          False   False          True
3   False     False          False   False         False
4   False     False          False   False         False
5   False     False          False   False         False
6   False     False          False   False         False
7   False     False          False   False         False
8   False     False          False   False         False
9   False     False          False   False          True
10  False     False          False   False         False
11  False     False          False   False         False
12  False     False          False   False          True
13  False     False          False   False         False
14  False     False          False   False         False
15  False     False          False   False         False
16  False     False          False   False         False
17  False     False          False   False          True
18  False     False          False   False         False
19  False     False          False   False         False
20  False     False          False   False         False
21  False     False          False   False         False
22  False     False          False   False         False
23  False     False          False   False         False
24  False     False          False   False         False
25  False     False          False   False         False
26  False     False          False   False         False
27  False     False          False   False         False
28  False     False          False   False         False

In [11]:
print(data.isnull().sum()) #this will tell us the total number of null values under each specific column

Date             0
Category         0
Sub-Category     0
Amount           0
Payment Mode     4
dtype: int64

In [12]:
#DEALING WITH DUPLICATE VALUES IN PANDAS

data = pd.read_csv("company1.csv")
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [13]:
print(data.duplicated()) #.duplicated() used to identify the duplicated data
                         #True means that data is duplicate
print(" ")
print(data.duplicated().sum()) #tells the total number of duplicated values
print(" ")

#to get the total number of duplicate values in a particular column, specify the column
print(data['EEID'].duplicated().sum()) #there are 2 duplicate values in column EEID

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

1

2

In [14]:
#to drop the duplicates in a particular column: 
print(data.drop_duplicates('EEID'))#specify which column you want the duplicates to removed from
print(" ")
print(data.drop_duplicates('Name'))

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
4  EMP05       NaN      M  25000.0

In [15]:
#WORKING WITH MISSING DATA IN PANDAS
data = pd.read_csv("company1.csv")
print(data) #NaN values represent an empty value(Not a Number)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [16]:
# to drop the null values:
print(data.dropna()) #.dropna() used to drop the null values in the columns

    EEID    Name gender   salary
1  EMP02   rohit      M  25000.0
3  EMP01  ayushi      F  20000.0
6  EMP02   rohit      M  25000.0

In [17]:
# we can replace NaN with some value using .replace()
# .replace() is a numpy function, so we should import numpy first

import numpy as np
print(data.replace(np.nan,"hi")) #.replace(what we want to replace, what we want to replace it with)

    EEID      Name gender   salary
0  EMP01    ayushi      F       hi
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali     hi  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05        hi      M  25000.0
5  EMP06     rohit      M       hi
6  EMP02     rohit      M  25000.0

In [20]:
#suppose we want to replace the Nan of only a particular column
data = pd.read_csv("company1.csv")
data["salary"]=data["salary"].replace(np.nan,3000)
print(data) #the NaN under salary column will be replaced by 3000

#if we have to replace a numerical data, by new data it would be better
# cont.- if we replace by its mean
print(" ")
mean_salary=(data["salary"].mean())
print(mean_salary)
data["salary"]=data["salary"].replace(np.nan,18285)

    EEID      Name gender   salary
0  EMP01    ayushi      F   3000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M   3000.0
6  EMP02     rohit      M  25000.0

18285.714285714286

In [25]:
# to fill the NaN values there are 2 ways
# backward fill (bfill) & forward fill (ffill)
print(data)
print(" ")

#if we want the data after the NaN to be filled into the NaN slot use bfill
print(data.fillna(method="bfill"))
print(" ")

#if we want the data before the NaN to be filled into the NaN slot use ffill
print(data.fillna(method="ffill"))

    EEID      Name gender   salary
0  EMP01    ayushi      F   3000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M   3000.0
6  EMP02     rohit      M  25000.0

    EEID      Name gender   salary
0  EMP01    ayushi      F   3000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      F  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05     rohit      M  25000.0
5  EMP06     rohit      M   3000.0
6  EMP02     rohit      M  25000.0

    EEID      Name gender   salary
0  EMP01    ayushi      F   3000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      M  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05    ayushi      M  25000.0
5  EMP06     rohit      M   3000.0
6  EMP02     rohit      M  25000.0

In [33]:
#COLUMN TRANSFORMATION IN PANDAS
import pandas as pd
df = pd.read_excel("ESD.xlsx")
print(df)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [35]:
# we need a column which will tell us who get bonus and who doesnt
#use .loc

#if Bonus % value = 0, then in the newly created column 'GetsBonus' print 'no bonus'
df.loc[(df["Bonus %"] == 0), "GetsBonus"] = "no bonus"

#if Bonus % value > 0, then in the newly created column 'GetsBonus' print 'bonus'
df.loc[(df["Bonus %"] > 0), "GetsBonus"] = "bonus"

print(df)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date GetsBonus
0       0.15  United States    Seattle 2021-10-16     bonus
1       0.00          China  Chongqing        NaT  no bonus
2       0.20  United States    Chicago        NaT     bonus
3       0.07  United States    Chicago        NaT     bonus
4       0.00  United States    Phoenix        NaT  no bonus
..       ...            ...        ...        ...       ...
995     0.00  United States   Columbus        NaT  no bonus
996     0.00          China    Chengdu 2018-01-08  no bonus
997     0.15  United States      Miami        NaT     bonus
998     0.00          China    Chengdu        NaT  no bonus
999     0.31  United States      Miami        NaT     bonus

[1000 rows x 15 columns]

In [37]:
import pandas as pd
data = pd.read_csv("company1.csv")
print(data)

data["name&gender"] = data["Name"] + data["gender"]

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [39]:
#we can also concatinate 2 rows and create a new row

data["name&gender"] = data["Name"] + " " + data["gender"]
print(data)

    EEID      Name gender   salary name&gender
0  EMP01    ayushi      F      NaN    ayushi F
1  EMP02     rohit      M  25000.0     rohit M
2  EMP03  pranjali    NaN  27000.0         NaN
3  EMP01    ayushi      F  20000.0    ayushi F
4  EMP05       NaN      M  25000.0         NaN
5  EMP06     rohit      M      NaN     rohit M
6  EMP02     rohit      M  25000.0     rohit M

In [43]:
# use of map is to apply a particular function on all the values

data = {"Months":["January","February","March","April"]}

a=pd.DataFrame(data)
print(a)

print(" ")

def extract(value):
    return value[0:3]

a["Short Form"]=a["Months"].map(extract) #using map() we can apply 'extract' function on all the values of that column
print(a)

     Months
0   January
1  February
2     March
3     April

     Months Short Form
0   January        Jan
1  February        Feb
2     March        Mar
3     April        Apr

In [45]:
#GROUP BY

import pandas as pd
data = pd.read_excel("ESD.xlsx")
print(data.head(10))

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date
0     0.15  United States    Seattle 2021-10-16
1     0.00          China  Chongqing        NaT
2     0.20  United States    Chicago        NaT
3     0.07  United States    Chicago        NaT
4     0.00  United States    Phoenix        NaT
5     0.00          China  Chongqing        NaT
6     0.10  United States    Phoenix        NaT
7     0.00  United States      Miami 2021-05-20
8     0.06  United States     Austin        NaT
9     0.00  United States    Chicago        NaT

In [46]:
# ex - using group by function to find count of gender in each department

gp = data.groupby("Department").agg({"Gender":"count"})
print(gp)

                 Gender
Department
Accounting           96
Engineering         158
Finance             120
Human Resources     125
IT                  241
Marketing           120
Sales               140

In [47]:
# ex - we want to find the number of employees in the department
# by displaying count of employee ID in each job title

gp = data.groupby("Department").agg({"EEID":"count"})
print(gp)

                 EEID
Department
Accounting         96
Engineering       158
Finance           120
Human Resources   125
IT                241
Marketing         120
Sales             140

In [50]:
# to display the number of employees in each department but gender wise
# you need to group by both department and gender

gp = data.groupby(["Department","Gender"]).agg({"EEID":"count"})
print(gp)

                        EEID
Department      Gender
Accounting      Female    53
                Male      43
Engineering     Female    80
                Male      78
Finance         Female    69
                Male      51
Human Resources Female    64
                Male      61
IT              Female   119
                Male     122
Marketing       Female    57
                Male      63
Sales           Female    76
                Male      64

In [51]:
# you want to find the mean of annual salary for each country

gp1 = data.groupby("Country").agg({"Annual Salary":"mean"})
print(gp1)

               Annual Salary
Country
Brazil         112324.834532
China          113823.532110
United States  113204.794712

In [52]:
# you want to find the max Annual Salary and min Age for each country
# but gender wise

gp2 = data.groupby(["Country","Gender"]).agg({"Annual Salary":"max","Age":"min"})
print(gp2)

                      Annual Salary  Age
Country       Gender
Brazil        Female         258426   25
              Male           249506   26
China         Female         249686   25
              Male           257194   25
United States Female         258498   25
              Male           258081   25

In [62]:
#MERGE, CONCATENATE AND JOIN

import pandas as pd
data1 = {"Emp ID":["E01", "E07", "E03", "E10", "E05"],
        "Names":["Ram", "Shyam", "Rahul","Vishal", "Ravi"],
        "Age":[34, 56, 67, 43, 21]}

data2 = {"Emp ID":["E01", "E02", "E03", "E08", "E05"],
        "Salary":[1134, 2256, 4467, 5643, 6721]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print(" ")
print(df2)

  Emp ID   Names  Age
0    E01     Ram   34
1    E07   Shyam   56
2    E03   Rahul   67
3    E10  Vishal   43
4    E05    Ravi   21

  Emp ID  Salary
0    E01    1134
1    E02    2256
2    E03    4467
3    E08    5643
4    E05    6721

In [63]:
# you can merge 2 tables based on some common row using .merge

print(pd.merge(df1, df2, on = "Emp ID"))

  Emp ID  Names  Age  Salary
0    E01    Ram   34    1134
1    E03  Rahul   67    4467
2    E05   Ravi   21    6721

In [64]:
#merging 2 tables based on left you can get the common values plus whatever is specified on the left table
# here the common E01,E03 and E05 is printed along with E07 & E10 that are part of df1 only 
print(pd.merge(left=df1, right=df2, on = "Emp ID", how = "left"))

  Emp ID   Names  Age  Salary
0    E01     Ram   34  1134.0
1    E07   Shyam   56     NaN
2    E03   Rahul   67  4467.0
3    E10  Vishal   43     NaN
4    E05    Ravi   21  6721.0

In [65]:
# here the common E01,E02, E03,and E05 is printed along with E08 that is part of df2 only 

print(pd.merge(left=df1, right=df2, on = "Emp ID", how = "right"))

  Emp ID  Names   Age  Salary
0    E01    Ram  34.0    1134
1    E02    NaN   NaN    2256
2    E03  Rahul  67.0    4467
3    E08    NaN   NaN    5643
4    E05   Ravi  21.0    6721

In [66]:
import pandas as pd
data1 = {"Emp ID":["E01", "E02", "E03", "E04", "E05"],
        "Names":["Ram", "Shyam", "Rahul","Vishal", "Ravi"],
        "Age":[34, 56, 67, 43, 21]}

data2 = {"Emp ID":["E06", "E07", "E08", "E09", "E10"],
        "Names":["Peru", "Chintu", "Pavan","Amma", "Appa"],
        "Age":[43, 65, 76, 34, 12]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print(" ")
print(df2)

  Emp ID   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   67
3    E04  Vishal   43
4    E05    Ravi   21

  Emp ID   Names  Age
0    E06    Peru   43
1    E07  Chintu   65
2    E08   Pavan   76
3    E09    Amma   34
4    E10    Appa   12

In [67]:
# to join the tables use .concat([])

print(pd.concat([df1, df2]))

  Emp ID   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   67
3    E04  Vishal   43
4    E05    Ravi   21
0    E06    Peru   43
1    E07  Chintu   65
2    E08   Pavan   76
3    E09    Amma   34
4    E10    Appa   12

In [ ]:
#COMPARE DATAFRAMES
#PIVOTING MELTING DATA FRAMES